body {
    /* Disables pull-to-refresh but allows overscroll glow effects. */
    overscroll-behavior-y: contain;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: #888;
}

.grid-item {
    float: left;
    width: 300px;
    height: 140px;
}
.grid-item-padded {
    padding: 20px;
    margin: 20px;
    border: 2px solid hsla(0, 0%, 0%, 0.1);
    border-radius: 20px;
}
.grid-item-padded-sm {
    padding: 5px;
    margin: 5px;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    border-radius: 4px;
}
.title {
    position: relative;
}
.title>div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    top: -15px;
    font-size: 14px;
    font-weight: 100;
}
.instr-icon {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin: 2px 5px 0 0;
    cursor: pointer;
}
.control-icon {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
}
.fas {
    color: #555;
}
#looper-ch,
#looper-ch>select {
    width: 80px !important;
}